.custom-tab.turquoise-tab li a:hover, .custom-tab.turquoise-tab li.active a{
	color: white !important;
}

.custom-tab li a:hover, .custom-tab li.active a{
	background-color: rgb(58, 236, 157) !important;
}

input.error{
	border-color: red !important;
}

.panel .banner{
	margin-bottom: 10px !important;
}