.progress {
  padding: 3px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  position: relative;
  border-radius: 2px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar:before, .progress-bar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.progress-bar:before {
  bottom: 0;
  background: url("../img/stripes.png") 0 0 repeat;
  border-radius: 4px 4px 0 0;
}
.progress-bar:after {
  z-index: 2;
  bottom: 45%;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
#reset:checked ~ .progress > .progress-bar {
    width: 0%;
    background-color: #e51c23;
}

#ten:checked ~ .progress > .progress-bar {
  width: 10%;
    background-color: #e51c23;
}

#twenty:checked ~ .progress > .progress-bar {
    width: 20%;
    background-color: #e91e63;
}

#thirty:checked ~ .progress > .progress-bar {
    width: 30%;
    background-color: #9c27b0;
}

#forty:checked ~ .progress > .progress-bar {
    width: 40%;
    background-color: #673ab7;
}

#fifty:checked ~ .progress > .progress-bar {
    width: 50%;
    background-color: #3f51b5;
}

#sixty:checked ~ .progress > .progress-bar {
    width: 60%;
    background-color: #5677fc;
}

#seventy:checked ~ .progress > .progress-bar {
  width: 70%;
    background-color: #03a9f4;
}

#eighty:checked ~ .progress > .progress-bar {
  width: 80%;
    background-color: #00bcd4;
}

#ninety:checked ~ .progress > .progress-bar {
  width: 90%;
    background-color: #009688;
}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
    background-color: #259b24;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 2px 20px;
  padding: 3px 8px;
  color: #777;
  border-radius: 3px;
  cursor: pointer;
}
.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}
