span.homespan {
    font: 13px times new roman;
    padding: 5px;
    float: right;
    font-weight: bold;
}

.homecontent{
	border: 1px dotted #FFC0CB;
	 border-radius: 15px;
	 background-color:white;
}

#tabs{
	background-color:#FBFBE7;
	border:1px dotted #FFC0CB;
}

img{
	border-radius: 20px;
}

.row{
	padding-top:5px;
}

img.animated{
	opacity:1;
}

img.animated:hover{
	opacity:0.4;
}

#mainbottom-9 {
    border-top: 5px solid #039be5;
}

.partners {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.partners li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5px;
}

ul li, ol li {
    line-height: 18px;
}


}h1.pi-has-border, .h1.pi-has-border, h2.pi-has-border, .h2.pi-has-border, h3.pi-has-border, .h3.pi-has-border, h4.pi-has-border, .h4.pi-has-border, h5.pi-has-border, .h5.pi-has-border, h6.pi-has-border, .h6.pi-has-border {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.pi-letter-spacing {
    letter-spacing: 1px;
}
.pi-uppercase {
    text-transform: uppercase;
}

h3, .h3 {
    font-size: 26px;
    line-height: 1.2em;
    margin-bottom: 10px;
}

