#job-search{
    background:#50A253 !important;
}

#job-search h2, #job-search h3{
    margin-bottom: 20;
    color: #fff;        
}

#job-search .placeholder{
	color: #d6d6d6;
}

#job-search a:link{
    color: #fff;
    text-decoration: none;
}

#job-search a:visited {
    color: #23c1f0;
}

#job-search a:hover{
    color: #0000FF;
}

#job-search a:active{
    color: #ff0000;
}

@media screen and (min-width: 361px) {
    #btn-find-job{
        margin-top: 58px;
    }
}

@media screen and (max-width: 360px) {
    #btn-find-job{
        margin-top: 20px;
    }
}


/* Helper
----------------------------------------------------------------------------- */
.relative {
    position: relative;
}
.block-section {
    padding: 60px 0;
}
.block-section-sm {
    padding: 40px 0;
}
.block-section-xs {
    padding: 10px 0;
}
.bg-color1 {
    background-color: #ffffff;
}
.bg-color2 {
    background-color: #f5f5f5;
}
.bg-color2 hr {
    border-color: #e1e1e1;
}
.bg-color3 {
    background-color: #34495e;
}
.bg-color4 {
    background-color: #394e63;
}
.font-1x {
    font-size: 13px;
}
.font-2x {
    font-size: 2.5em;
}
.font-light {
    font-weight: 300;
}
.font-bold {
    font-weight: 700;
}
.font-normal {
    font-weight: 400;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.white-space-5 {
    height: 5px;
}
.white-space-10 {
    height: 10px;
}
.white-space-15 {
    height: 15px;
}
.white-space-20 {
    height: 20px;
}
.white-space-30 {
    height: 30px;
}
.white-space-40 {
    height: 40px;
}
.white-space-50 {
    height: 50px;
}
.white-space-60 {
    height: 60px;
}
.space-inline-10 {
    display: inline-block;
    width: 10px;
}
.space-inline-100 {
    width: 100px;
    display: inline-block;
}
.socials a {
    color: #868585;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    border-radius: 50% !important;
    margin-left: 2px;
    border: 1px solid #868585;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -webkit-backface-visibility: hidden;
}
.socials a:hover,
.socials a:focus {
    border: 1px solid #ebebeb;
    background: #ffffff;
    color: #000000;
}
.span-line {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
.span-line:before,
.span-line:after {
    content: "";
    height: 1px;
    background: #ebebeb;
    top: 50%;
    width: 80px;
    position: absolute;
}
.span-line:before {
    left: -80px;
}
.span-line:after {
    right: -80px;
}
.color-white {
    color: #ffffff !important;
}
.color-white-mute {
    color: #b9b9b9 !important;
}
.color-black {
    color: #000000 !important;
}
.color-heading {
    color: #3d454c !important;
}
.color-text {
    color: #868585 !important;
}
.box-icon {
    display: inline-block;
    border: 1px solid #d7d7d7;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #e1e1e1;
}
.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
[data-toggle="collapse"]:hover {
    cursor: pointer;
}
.ic-arrow-toogle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #868585;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    border-radius: 50% !important;
    top: -3px;
    position: relative;
    font-size: 12px;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -webkit-backface-visibility: hidden;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.collapsed .ic-arrow-toogle {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
}
.rate {
    margin-right: 10px;
    color: #F5BE4E;
    font-size: 13px;
}
.line-bottom {
    border-bottom: 1px solid #e1e1e1;
}
.margin-b-20 {
    margin-bottom: 20px;
}
@media (max-width: 992px) {
    .text-center-sm {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .text-center-xs {
        text-align: center;
    }
}
.mt-20 {
    margin: 20px 0;
}
.img-full {
    width: 100%;
}
.company-photos img {
    margin-bottom: 30px;
}
.box-ic-center {
    margin-bottom: 30px;
    text-align: center;
}
.box-ic-center .ic-box {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    background: #e1e1e1;
    color: #3d454c;
    font-size: 20px;
    line-height: 80px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    border-radius: 50% !important;
    margin-bottom: 20px;
    margin-top: 30px;
}
.clients img {
    height: 40px;
}
.clients a {
    opacity: 0.6;
    filter: alpha(opacity=60);
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -webkit-backface-visibility: hidden;
    display: inline-block;
    margin: 10px 20px;
}
.clients a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.clients.no-margin {
    border-bottom: 0;
    padding: 0;
    margin: 0;
}
.big-error {
    text-align: center;
    font-weight: 700;
    color: #e1e1e1;
    font-size: 19em;
    padding: 27px 0 0;
    margin-bottom: 15px;
    clear: both;
    line-height: 1em;
}
@media (max-width: 500px) {
    .big-error {
        font-size: 10em;
        margin-bottom: 30px;
    }
}
.ic-circle {
    width: 40px;
    text-align: center;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: inline-block;
    line-height: 40px;
}
.ic-circle-md {
    width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: inline-block;
    line-height: 30px;
}


/* listing
----------------------------------------------------------------------------- */
@media (min-width: 992px) {
    .box-list-area {
        border-right: 1px solid #e1e1e1;
        padding-right: 30px;
    }
}
.box-list {
    margin: 20px 0 ;
}
.box-list .item {
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -webkit-backface-visibility: hidden;
    padding: 30px;
    background: #ffffff;
    border-bottom: 1px solid #e1e1e1;
    border: 1px solid #e1e1e1;
    border-top: 0;
}
.box-list .item:first-child {
    border-top: 1px solid #e1e1e1;
    -webkit-border-radius: 3px 3px 0 0 !important;
    -moz-border-radius: 3px 3px 0 0 !important;
    -ms-border-radius: 3px 3px 0 0 !important;
    -o-border-radius: 3px 3px 0 0 !important;
    border-radius: 3px 3px 0 0 !important;
}
.box-list .item:last-child {
    -webkit-border-radius: 0 0 3px 3px !important;
    -moz-border-radius: 0 0 3px 3px !important;
    -ms-border-radius: 0 0 3px 3px !important;
    -o-border-radius: 0 0 3px 3px !important;
    border-radius: 0 0 3px 3px !important;
}
.box-list .item .rate {
    font-size: 10px;
    margin: 0 10px;
}
.box-list .img-item img {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
    text-align: center;
    max-width: 100%;
}
.side-right {
    position: relative;
}
.result-filter {
    margin: 20px 0;
}
.result-filter .list-area {
    margin-bottom: 30px;
}
.get_alert {
    background: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
}
.box-item-details {
    background: #ffffff;
    position: relative;
}
@media (min-width: 992px) {
    .box-item-details {
        padding-right: 30px;
        border-right: 1px solid #e1e1e1;
    }
}
.box-item-details:before {
    content: "";
    position: absolute;
    background: #ffffff;
    left: -1000%;
    width: 1000%;
    top: 0;
    height: 100%;
}
@media (max-width: 992px) {
    .box-item-details:after {
        content: "";
        position: absolute;
        background: #ffffff;
        right: -1000%;
        width: 1000%;
        top: 0;
        height: 100%;
    }
}
.box-item-details .title {
    border-top: 1px solid #e1e1e1;
    padding-top: 40px;
    margin-top: 30px;
    padding-bottom: 20px;
}
.box-item-details h4 {
    padding-top: 15px;
}
.box-item-details .job-meta ul {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
.box-item-details .job-meta ul li {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
    margin-bottom: 3px;
    border: 1px solid #e1e1e1;
    padding: 5px 20px;
}
.box-item-details .job-meta ul li i {
    margin-right: 3px;
}
.share-btns .btn {
    min-width: 40px;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
}
.nav-sidebar {
    border: 1px solid #e1e1e1;
}
.nav-sidebar li a {
    background: #ffffff;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 30px;
    display: block;
}

/* btn
----------------------------------------------------------------------------- */
.btn-theme {
    font-size: 13px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
    font-weight: 700;
}
.btn-theme,
.btn-theme:hover,
.btn-theme:focus {
    outline: none;
}
.btn-theme.btn-square {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}
.btn-theme.btn-sm {
    padding: 6px 15px;
}
.btn-theme.btn-xs {
    padding: 3px 10px;
    font-size: 12px;
}
.btn-theme.btn-lg {
    font-size: 1.1em;
    padding: 15px 30px;
}
.btn-theme.btn-line {
    background: transparent;
    border-color: #ffffff;
    border-width: 2px;
    color: #ffffff;
}
.btn-theme.btn-line:hover,
.btn-theme.btn-line:focus {
    background: #34495e;
    border-color: #34495e;
}
.btn-theme.btn-line.dark,
.btn-theme.btn-line.dark:hover,
.btn-theme.btn-line.dark:focus {
    background: transparent;
    border-color: #34495e;
    color: #34495e;
}
.btn-theme.btn-line.soft,
.btn-theme.btn-line.soft:hover,
.btn-theme.btn-line.soft:focus {
    background: transparent;
    border-color: #e1e1e1;
    color: #3d454c;
    border-width: 1px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active {
    outline: none;
}
.btn-theme .bordered-left {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    margin-left: 10px;
}
.btn-theme .bordered-left.dark {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-theme.btn-long {
    min-width: 250px;
}
.btn-theme .bordered-right {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
    margin-right: 10px;
}
.btn-theme .bordered-right.dark {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-theme .bordered-right.pull-left {
    width: 30px;
    left: 15px;
    position: absolute;
}
.btn-theme.toogle-btn .open {
    display: inline;
}
.btn-theme.toogle-btn .cls {
    display: none;
}
.btn-theme.toogle-btn.toogle-open .open {
    display: none;
}
.btn-theme.toogle-btn.toogle-open .cls {
    display: inline;
}
.btn-theme.no-left-border {
    -webkit-border-radius: 0 3px 3px 0 !important;
    -moz-border-radius: 0 3px 3px 0 !important;
    -ms-border-radius: 0 3px 3px 0 !important;
    -o-border-radius: 0 3px 3px 0 !important;
    border-radius: 0 3px 3px 0 !important;
}
.btn-theme.no-right-border {
    -webkit-border-radius: 3px 0 0 3px !important;
    -moz-border-radius: 3px 0 0 3px !important;
    -ms-border-radius: 3px 0 0 3px !important;
    -o-border-radius: 3px 0 0 3px !important;
    border-radius: 3px 0 0 3px !important;
}
.btn-theme.btn-pill {
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
    border-radius: 50px !important;
}
.btn-theme.btn-t-primary {
    background-color: #34495e;
    color: #ffffff;
    position: relative;
}
.btn-theme.btn-t-primary:hover {
    background: #20354a;
}
@media (max-width: 768px) {
    .btn-block-xs {
        display: block;
    }
}
.link-white,
.link-white:hover,
.link-white:focus {
    color: #ffffff;
    text-decoration: none;
}
.link-black,
.link-black:hover,
.link-black:focus {
    color: #000000;
    text-decoration: none;
}
.link-text,
.link-text:hover,
.link-text:focus {
    color: #868585;
    text-decoration: none;
}
.link-defaut,
.link-defaut:hover,
.link-defaut:focus {
    color: #23527c;
}

/* Front page modal color */
.modal-header{
	background-color:#50A253;
}