.main-nav.stick-fixed{
    background-color: #3c963f !important;
}

.main-nav.dark .inner-nav ul > li > a{
    color: white !important;
}

ul.clearlist ul{
    background-color: #50A253 !important;
}

ul.clearlist ul a:hover{
    background-color: rgba(255,255,255,.3) !important;
}

body{
	background-color: #f1f1f1 !important;
}

ul.pagination li:not(.disable){
	cursor: pointer;
}

ul#companies-block-list-ul li > a:hover{
	cursor: pointer;
}

#btn-find-job:visited{
	color: white !important;
}

.desktop-nav ul li a{
	font-size: 14px;
}

.card ul#filters li a{
	text-decoration: none;
}

.home-content h2{
	color: white !important;
	
}